body{
    background: linear-gradient(90deg, rgb(41, 14,86), pink);
}

.contorno{
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    padding: 60px;
    color: rgb(0, 0, 231);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-200px);
}

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
}

button{
    background-color: greenyellow;
    border: none;
    padding: 20px;
    width: 130px;
    border-radius: 100px;
    color: green;
    font-size: 20px;
}
button:houver{
    background-color: cyan;
    cursor: pointer;
}